body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    margin: 0;
    background-color: rgb(54, 54, 54);
}
nav {
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

section {
    padding: 20px;
}
footer {
    background-color: #0f002c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: flex;
    bottom: 0;
    width: 100%;
}

* {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}
a {
    color: #ccc;
    text-decoration: none;
}
p {
    margin: 0;
    padding: 2px;
    font-size: 2vw;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #fbfeff;
}
h1 {
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(152, 200, 255);
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}
span {
    color: white;
    font-size: xx-large;
    font-family: Georgia, "Times New Roman", Times, serif;
}
#terms {
    width: 30px;
    height: 30px;
}
.title {
    text-align: center;
    font-size: 3vw;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.car-accordion-body {
    width: 80%;
    margin-left: 10%;
}
.car-accordion-title {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 3vw;
    color: #008ebe;
    text-align: center;
    position: relative;
}
.car-accordion-title::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: all 1s;
}
.car-content {
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: all 1s;
    text-align: center;
}
.car-accordion-element {
    margin-bottom: 25px;
    border: 2px solid black;
    padding: 15px;
    background-color: #162938;
}
.car-accordion-element.active .car-content {
    height: 30vw;
}
.car-accordion-element.active .car-accordion-title::before {
    position: absolute;
    content: "-";
}

.navbar {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: #08004c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    z-index: 1;
}

.nav-links {
    list-style: none;
    display: none;
    padding: 20px;
    margin-left: 0px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    align-items: center;
}

.nav-links.show {
    list-style: none;
    display: flex;
    padding: 20px;
    margin-left: 0px;
    
}

.nav-links li {
    margin-right: 20px;
    
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.burger {
    width: 40px;
    height: 40px;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 35px;
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: flex;
    }
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 97%;
}

.sticky + .content {
    padding-top: 102px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(0, 1, 81);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#myBtn:hover {
    background-color: #555;
}

.container {
    max-width: 500px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    color: #ccc;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align:center;
    font-size: larger;
}
.form-group input,
.form-group textarea {
    color-scheme: dark;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
    color-scheme: dark;
    height: 100px;
}
.form-group input[type="submit"] {
    background-color: #15008b;
    color: white;
    border: none;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #06005c;
}
.terms {
    margin-top: 20px;
}

#cookie-notification {
    position: fixed;
    bottom: 10px;
    left: 10%;
    align-self: center;
    width: 80%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    border-radius: 30px;
}

#accept-cookies {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#accept-cookies:hover {
    background-color: #45a049;
}
